{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/Popup.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/Global.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/Default.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/TaskSummary.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/FormStyles.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/FormScript_Verify.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/lifesuite.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/formbuilder.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/assets/css/responsive.css') }}">
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<table id="tablePopup">
    <tbody>
        <tr>
            <td id="tdContentWrapper">
                <table id="tableContent" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td id="tdContent">
                            <form action="">{% block form %}{% endblock %}</form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('/bundles/app/assets/js/vendor/jquery-1.11.1.min.js') }}"><\/script>')</script>
    <script src="{{ asset('/bundles/app/assets/js/plugins.js') }}"></script>
    <script src="{{ asset('/bundles/app/assets/vendor/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
{% endblock %}
